* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
}

main {
  height: 100%;
  margin-left: 250px;
  overflow-x: hidden;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.Sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  background-color: #222a32;
}

.SidebarList {
  height: auto;
  width: 200px;
  padding-left: 10%;
}

.SidebarList .row {
  width: 100%;
  height: 60px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  font-family: "Segoe UI";
}

.second {
  margin-left: 50px;
  color: #0b1f35;
}

.SidebarList .row:hover {
  cursor: pointer;
}

.logo {
  margin: 30px;
  padding-left: 10px;
}

.logo:hover {
  cursor: pointer;
}

.header {
  display: grid;
  grid-template-columns: 130px 1fr;
  gap: 25px;
}

.header > .heading {
  grid-column: 1 / -1;
}

.flex {
  display: flex;
}

.flex-center-y {
  align-items: center;
}

.flex-center-x {
  justify-content: center;
}

.img-holder {
  width: 128px;
  height: 128px;
  border-radius: 100px;
  border: 1px solid gray;
  margin-top: 1rem;
}

.img {
  width: 128px;
  height: 128px;
  object-fit: cover;
  border-radius: 100px;
}

#input[type="file"] {
  display: none;
}

.label {
  width: 100%;
  margin-top: 1rem;
  display: inline-block;
  justify-content: left;
}

.image-upload {
  font-family: "Segoe UI";
  color: #0b1f35;
  border-bottom: 1px dashed rgba(11, 31, 53, 0.3);
}

.image-upload:hover {
  cursor: pointer;
}

.input {
  margin: 1%;
}

.heading {
  color: #0b1f35;
  width: 80%;
}


.list {
  list-style-type: none;
  color: darkgray;
  font-family: "Segoe UI";
}

.listItem {
  padding: 6px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project > .heading {
  grid-column: 1 / -1;
}

.line {
  color: #f4f5f6;
  width: 90%;
}

.tabs {
}

.editButton {
  float: right;
}

.actions {
  cursor: pointer;
  border-bottom: 1px solid rgba(11, 31, 53, 0.3);
}

hr {
  display: block;
  margin: 25px 0;
}

.tab-component {
  margin-left: 5%;
}